.gradient-background {
    background: linear-gradient(300deg, #D2E0FB, #FEF9D9, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  .nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }

  #title{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #features{
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

 a, .card-title{
    color: #8EACCD;
    font-size:xx-large;
 }

 .contact{
    font-size:large;
    color:gray;
 }