
html{
    background-color:#C0C78C;
}

h1{
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
  text-align: center;
  }

 h2,figure{
    text-align: center;
  }

  
a, li{
    color: #FEFAE0;
   text-align: center;
   list-style: none;
}

.all-container{
display: flex;
flex-direction: column;
align-items: center;
height:100vh;
}


li{
    background-color:#B99470 ;
    width: 300px;
    text-align: center;
}

h3{
    color: black;
    text-align: left;
}
@media(max-width:600px){
    .all-container{
        font-size: x-small;
    }

    img{
        height:70%;
        width: 70%;
    }
}